.radiobuttonoptionlabel {
    padding: 6px 0 6px 32px;
    display: inline-block;
    margin-left: -28px;
}

.radiobuttonimageon,
.radiobuttonimageoff {
    vertical-align: top;
    margin: 0 12px 0 -4px;
    height: 20px;
    width: 20px;
}

.radiobuttonimageon,
.radiobuttoninputelement:checked ~ label .radiobuttonimageoff {
    width: 0;
    height: 0;
    overflow: hidden;
    margin-right: 0;
}

.radiobuttonimageoff,
.radiobuttoninputelement:checked ~ label .radiobuttonimageon {
    height: 20px;
    width: 20px;
    margin-right: 12px;
}